LOG_FORMAT=pretty
SPOT_DB_NAME=spot
SPOT_DB_USER=spot
SPOT_DB_PASS=spot
SPOT_DB_HOST=localhost
SPOT_DB_PORT=5432
SPOT_DATABASE_URL=postgres://spot:spot@localhost/spot
SPOT_ENC_KEY=01234567890123456789012345678901
SPOT_SPOTIFY_CLIENT_ID=setme
SPOT_SPOTIFY_SECRET_ID=setme
SPOT_SPOTIFY_REDIRECT_URL=http://localhost:3003/auth

PASTE_DB_NAME=paste
PASTE_DB_USER=paste
PASTE_DB_PASS=paste
PASTE_DB_HOST=localhost
PASTE_DB_PORT=5432
PASTE_DATABASE_URL=postgres://paste:paste@localhost/paste
PASTE_ENCRYPTION_KEY=01234567890123456789012345678901
PASTE_SIGNING_KEY=01234567890123456789012345678901
