

{% macro nav_link(id, hash, icon_class, text) %}
    <a id="{{id}}" href="{{hash}}" class="trow clicky nav-link highlighty" alt="{{text}}">
        <div class="nav-content valign-wrapper">
            <i class="material-icons nav-icon {{icon_class}}" alt="{{text}}"></i>
            {{text}}
        </div>
    </a>
{% endmacro nav_link %}


{% macro image_link(image_url, url, text) %}
    <a href="{{url}}" target="_blank" class="trow clicky nav-link highlighty">
        <div class="nav-content valign-wrapper">
            <img style="width: 30px; margin-right: 10px;" src="{{image_url}}"/>
            {{text}}
        </div>
    </a>
{% endmacro image_link %}


{% macro icon_link(icon, url, text) %}
    <a href="{{url}}" target="_blank" class="trow clicky nav-link highlighty">
        <div class="nav-content valign-wrapper">
            <i style="font-size: 30px; margin-right: 10px;" class="material-icons nav-icon">{{icon}}</i>
            {{text}}
        </div>
    </a>
{% endmacro icon_link %}


{% macro exp_title(title) %}
    <div><span class="exp-title">{{title}}</span></div>
{% endmacro exp_title %}


{% macro exp_company(org, time) %}
    <div>
        {% if time|length > 0 %}
            <span class="exp-company">{{org}}</span>
            <span>&#124;</span>
            <span class="exp-time-span">{{time}}</span>
        {% else %}
            <span class="exp-company">{{org}}</span>
        {% endif %}
    </div>
{% endmacro exp_company %}


{% macro proj(name, link_url, desc) %}
    <div class="col s12 m6">
        <a href="{{link_url}}" target="_blank" class="nav-link">
            <div class="proj-item card-panel z-depth-4 clicky highlighty">
                <div class="proj-title">
                    {{name}}
                </div>
                <div class="proj-text">
                    {{desc}}
                </div>
            </div>
        </a>
    </div>
{% endmacro proj %}


{% macro exp_bullet(t) %}
    <div class="table exp-list">
        <div class="trow exp-line">
            <div class="cell bullet">&#8640;</div>
            <div class="cell">
                {{t}}
            </div>
        </div>
    </div>
{% endmacro exp_bullet %}


{% macro exp_sub_bullet(t) %}
    <div class="table exp-list">
        <div class="trow exp-line">
            <div class="cell bullet indent">&#8640;</div>
            <div class="cell">
                {{t}}
            </div>
        </div>
    </div>
{% endmacro exp_sub_bullet %}
